@model SportsStore.Models.ViewModels.ProductReviewViewModel
@using SportsStore.Controllers
<div id="pdetails">
    <h3>Product Details</h3>
    <div id="reviewTable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        @Model.Product.ProductID
                    </td>
                    <td>
                        @Model.Product.Name
                    </td>
                    <td>
                        @Model.Product.Category
                    </td>
                    <td>
                        @Model.Product.Description
                    </td>
                    <td>
                        @Model.Product.Price
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="pReviews">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        <td>
                            @review.rating
                        </td>
                        <td>
                            @review.comment
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*Html.Partial("WriteReviews")*@
    @*await Html.PartialAsync("WriteReviews")*@
    <!--<a class="btn btn-primary" asp-controller="Product" asp-action="WriteReviews">Write Your Review</a>-->
    @if (AccountController.uname != null)
    {
        <a class="btn btn-primary" href='@Url.Action("WriteReviews", "Product")?pid=@Model.Product.ProductID'>Write Your Review</a>
    }
    else
    {
        @if (AccountController.uname == null)
        {

            <div class="card border-danger mb-3" style="max-width: 18rem; padding:10px;">
                <div class="card-body text-danger">
                    <h5 class="card-title">You are not Logged In!</h5>
                    <p class="card-text">Please login to rate our products.</p>
                </div>
            </div>
        }
    }
</div>